:root {
  --ig-white: #ffffff;
  --ig-black: #292929;
  --ig-yellow: #FAB12F;
  --ig-grey: #7D7E81;

}

/* =================reset css starts here=================  */
* { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, ul, li, body, html, form, fieldset { margin: 0; padding: 0; outline: none; border: 0 }
a { text-decoration: none; border: 0; outline: 0; }
ul {list-style: none;}
a:focus, input:focus, textarea:focus, *:focus { outline: 0 !important; }
/* =================reset css ends here================= */
/* =================core css starts here================= */
body {font-size: 16px; line-height: 1.35; font-weight: 400;font-family : var(--font-open-sans);color: var(--ig-grey); background: #F2F2F2; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.container { width: calc(100% - 16px); max-width: 1368px; }
a, input, button { display: inline-block; text-decoration: none; color: inherit; outline: none; transition: all 0.2s ease-in;  -webkit-transition: all 0.2s ease-in; }
a img {border: 0px none;}
a:hover { outline: none; color: var(--ig-yellow); text-decoration: none; }
a:active { outline: none; text-decoration: none; }
a:focus { outline: none; outline-offset: 0px; text-decoration: none; color: inherit; }
::-webkit-input-placeholder { color: var(--ig-black); opacity: 0.5; }
::-moz-placeholder { color: var(--ig-black); opacity: 0.5; }
:-moz-placeholder { color: var(--ig-black); opacity: 0.5; }
:-ms-input-placeholder { color: var(--ig-black); opacity: 0.5; }
.os-animation {opacity: 0;}
.os-animation.animated {opacity: 1;}
img {max-width: 100%; border:0; height: auto;}
h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px;font-family: var(--font-roboto); margin-bottom: 24px; line-height: 1.35; font-weight: 700; color: inherit;}
h1 {font-size: 58px;}
h2 {font-size: 48px;}
h3 {font-size: 40px;}
h4 {font-size: 30px;}
h5 {font-size: 26px;}
h6 {font-size: 22px;}
p {margin: 0px; padding: 0px; margin-bottom: 30px; }
strong {font-weight: 700;}
b {font-weight: 400;}
p:last-child {margin-bottom: 0;}
.btn {min-width: 180px;padding: 12px 20px;font-size: 18px;font-weight: 700;line-height: 20px;border: 2px solid transparent;border-radius: 0;box-shadow: none; transition: all 0.2s ease-in;-webkit-transition: all 0.2s ease-in;}
.btn-default,.btn-default:focus { color: var(--ig-white); background-color: var(--ig-yellow); border-color: var(--ig-yellow); }
.btn-default:hover,.btn-default:active { color: var(--ig-yellow); background-color:transparent; border-color: var(--ig-yellow); }
.btn-outline,.btn-outline:focus { color: var(--ig-yellow); background-color: transparent; border-color: var(--ig-yellow); }
.btn-outline:hover,.btn-outline:active { color: var(--ig-white); background-color: var(--ig-yellow); border-color: var(--ig-yellow); }
.btn.btn-block{min-width: 100%;}
.btn+.btn {margin-left: 25px;}
.btn-link{font-size: 18px;font-weight: 700;color: var(--ig-yellow);text-transform: uppercase;text-decoration: none;}
.btn-link:hover{color: var(--ig-yellow);text-decoration: underline;}
.btn-link.sm{font-size: 16px;}
.btn-link.lg{font-size: 20px;}

ul:not([class]) {list-style: none;margin-bottom: 15px;text-align:left;line-height: 22px;}
ul:not([class]) > li {padding-left: 16px;position: relative;margin-bottom: 14px;}
ul:not([class]) > li:last-child{margin-bottom: 0;}
ul:not([class]) > li:before {content: '';position: absolute;left: 2px;top:10px;background: var(--ig-black);height: 5px;width: 5px; border-radius: 50%;}

.bg-white{background: var(--ig-white)!important;}
.bg-grey{background: #F8F8F8!important;}
.add-custom-scroll{scrollbar-color: var(--ig-yellow) rgba(0,0,0,.12)!important;scrollbar-width:thin!important}
.add-custom-scroll::-webkit-scrollbar{width:4px;height:2px}
.add-custom-scroll::-webkit-scrollbar-track{border-radius:0;background:rgba(0,0,0,.12)}
.add-custom-scroll::-webkit-scrollbar-thumb{border-radius:0;background: var(--ig-yellow)}

.content-container{padding: 120px 0;} 

.img-hover img{transform: scale(1);transition: all 0.2s ease-in;}
.img-hover:hover img{transform: scale(1.05);}
/* =================core css ends here================= */

.heading{margin-bottom: 30px;position: relative;}
.heading::before{content: '';position: absolute;left: -10px;top: -10px;width: 2px;height: 40px;background: var(--ig-yellow);z-index: -1;}
.heading::after{content: '';position: absolute;left: -20px;top: 0;width: 40px;height:2px;background: var(--ig-yellow);z-index: -1;}
.heading h3{font-size: 48px; font-weight: 700; color: var(--ig-black);}

.filter-box{background: white; border: 1px solid var(--ig-grey); padding: 5px 10px;gap: 10px;}
.filter-box.active{background: lightyellow; border: 1px solid var(--ig-yellow);}

.filter-box .filter-title{font-size: 14px; font-weight:500; color: var(--ig-black);}
.filter-box .filter-title.active{color: var(--ig-yellow);}

.filter-box .filter-count{font-size: 12px; font-weight:500;line-height: 1; color: var(--ig-black);background: #F2F2F2; padding: 4px;}
.filter-box.active .filter-count{background: var(--ig-yellow);color: var(--ig-white);}

/*==========================================
! Large devices (desktops, less than 1200px)
========================================== */
@media (max-width: 1199.98px){
}

/*==========================================
! Medium devices (tablets, less than 992px)
========================================== */
@media (max-width: 991.98px){
  .content-container{padding: 60px 0;}

}

/*==========================================
! Small devices (landscape phones, less than 768px)
========================================== */
@media (max-width: 767.98px){
}

/*==========================================
! Extra small devices (portrait phones, less than 576px)
========================================== */
@media (max-width: 575.98px){
}